/* base */
html {
	background-color: #f6f6f6;
}
body {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 3em 0 10em 11em;
	height: auto;
	padding: 1.25em 1.5em 1.5em 1.5em;
	border: 1px solid #a7d7f9;
	border-right-style: none;
	background-color: #fff;
}
#layout-options {
	position: fixed;
	left: 0;
	top: 0;
	margin: 1em;
	width: 10em;
	display: flex;
	flex-direction: column;
}

/* main */
#main-page {
	min-width: 300px;
}

/* header */
#main-page-header {
	/*
	background: url(https://upload.wikimedia.org/wikipedia/commons/3/3e/MP-open-book4.png) -20px -15px no-repeat;
	*/
	border: 1px solid #c5c5c5;
	border-radius: 1em;
	font-size: 1.1em;
}
#main-page-header #main-page-intro {
	padding: 5px 15px;
}
#main-page-header #main-page-welcome { 
	display: block;
	font-size: 1.8em;
}

#main-page-header #main-page-book {
	background-image: 
		url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" height=\"500px\" width=\"100%\" style=\"background: rgba(255,255,255,0.9);\"></svg>")
		,
		url(https://upload.wikimedia.org/wikipedia/commons/9/91/Book_designed_by_Benny_Forsberg_from_the_Noun_Project_-_with_lines.svg)
	;
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#main-page-header #main-page-portals {
	text-align: center;
}
#main-page-header #main-page-portals span {
	display: block;
	margin-bottom: .5em;
}

#main-page-header #main-page-wiki-events {
	text-align: center;
	border-top: 1px solid #c5c5c5;
}
#main-page-header #main-page-wiki-events:empty {
	border-top: 0;
}

#main-page-header {
	display: grid;
	grid-template-columns: max-content 1fr 500px;
}
#main-page-header #main-page-wiki-events {
	grid-column: 1 / span 3;
	grid-row: 2;
}
@media (max-width: 1200px) {
	#main-page-header #main-page-book {
		display: none;
	}
	#main-page-header {
		grid-template-columns: max-content 1fr;
	}
}
@media (max-width: 850px) {
	#main-page-header {
		display: block;
	}
}


/* content boxes */
#main-page-content {
	display: grid;
	grid-template-columns: 1fr 1fr min-content;
	grid-template-rows: repeat(3, auto);
	grid-column-gap: 2em;
}

@media screen and (min-width:1200px) {
	#main-page-didyouknow       { grid-column: 1; grid-row: 1 }
	#main-page-news             { grid-column: 1; grid-row: 2 }
	#main-page-featured-article { grid-column: 2; grid-row: 1 }
	#main-page-good-article     { grid-column: 2; grid-row: 2 }
	#main-page-featured-image   { grid-column: 3; grid-row: 1 }
	#main-page-anniversaries    { grid-column: 1 / span 3; grid-row: 3 }
}
@media screen and (min-width:900px) and (max-width:1200px) {
	#main-page-content {
		grid-template-columns: calc(50% - 1em) auto min-content;
	}
	#main-page-didyouknow       { grid-column: 1; grid-row: 1 }
	#main-page-news             { grid-column: 1; grid-row: 2 }
	#main-page-featured-article { grid-column: 2 / span 2; grid-row: 1 }
	#main-page-good-article     { grid-column: 2 / span 2; grid-row: 2 }

	#main-page-anniversaries    { grid-column: 1 / span 2; grid-row: 3 }
	#main-page-featured-image   { grid-column: 3; grid-row: 3 }
}
@media screen and (max-width:900px) {
	#main-page-content {
		display: block;
	}
	#main-page-content .section {
		min-width: 280px;
	}
}

/* sister footer */
.sister-projects {
	display: flex;
	flex-wrap: wrap;
}
@supports (display: grid) {
	.sister-projects {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		grid-column-gap: 2em;
	}
}
/* layout inside a sister box */
.sister-project {
	width: 220px;
	display: flex;
}
.sister-project .sister-image {
	width: 60px;
	margin-top: 1em;
}

/* wikimedia footer */
.main-page-threecol {
	display: flex;
}
@supports (display: grid) {
	.main-page-threecol {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-column-gap: 2em;
	}
}
.main-page-threecol > p {
	display: flex;
}
.main-page-threecol > p > span {
	display: block;
	margin-left: .5em;
}